@import "tailwindcss";

@theme {
  --font-sans:
    "Jost Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --text-4xl: 2.5rem;
  --text-base: hsl(264 5 20);
  --color-primary: hsl(10 72 66);
  --color-secondary: hsl(264 4 11);
}

@utility heading-1 {
  font-size: var(--text-5xl);
  line-height: 3rem;
  font-weight: 500;
}

@utility heading-2 {
  font-size: var(--text-4xl);
  line-height: 3rem;
  letter-spacing: 2px;
  font-weight: 500;
}

@utility heading-3 {
  font-size: var(--text-xl);
  line-height: 26px;
  letter-spacing: 5px;
}

@layer base {
  html,
  body {
    @apply bg-white;
    color: var(--text-base);
  }

  p {
    line-height: calc(var(--spacing) * 7);
  }

  .main-grid {
    display: grid;
    --gutter: minmax(1rem, 1fr);

    @media screen and (min-width: 50rem) {
      --gutter: minmax(2rem, 1fr);
    }

    grid-template-columns:
      [full-start]
      var(--gutter)
      [main-start]
      repeat(12, minmax(0, 8rem))
      [main-end]
      var(--gutter)
      [full-end];
  }

  .main-grid > * {
    grid-column: main;
  }
}
