@import "tailwindcss";

@theme {
  --font-sans:
    "Jost Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --text-4xl: 2.5rem;
}

@layer base {
  html,
  body {
    @apply bg-white;
  }

  p {
    line-height: calc(var(--spacing) * 7);
  }

  h1 {
    font-size: var(--text-5xl);
    line-height: 3rem;
    font-weight: 500;
  }

  h2 {
    font-size: var(--text-4xl);
    line-height: 3rem;
    letter-spacing: 2px;
    font-weight: 500;
  }

  h3 {
    font-size: var(--text-xl);
    line-height: 26px;
    letter-spacing: 5px;
  }

  .main-grid {
    display: grid;
    --gutter: 1rem;

    @media screen and (min-width: 50rem) {
      --gutter: 2rem;
    }

    grid-template-columns:
      [full-start]
      var(--gutter)
      [main-start]
      repeat(12, 1fr)
      [main-end]
      var(--gutter)
      [full-end];
  }

  .main-grid > * {
    grid-column: main;
  }
}
