@import "tailwindcss";

@theme {
  --font-sans:
    "Jost Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --text-4xl: 2.5rem;
  --text-base: hsl(264 5 20);

  --color-peach-500: hsl(10 72 66);
  --color-peach-300: hsl(11 100 80);
  --color-black: hsl(270 3 11);
  --color-white: hsl(0 0 100);

  --color-gray-700: hsl(264 5 20);
  --color-gray-200: hsl(210 17 95);
  --color-peach-100: hsl(14 76 97);

  --color-primary: var(--color-peach-500);
  --color-primary-100: var(--color-peach-100);
  --color-secondary: var(--color-peach-300);

  --color-base-700: var(--color-gray-700);
  --color-base-100: var(--color-gray-100);
  --color-base: var(--color-black);
}

@utility heading-1 {
  font-size: var(--text-5xl);
  line-height: 3rem;
  font-weight: 500;
}

@utility heading-2 {
  font-size: var(--text-4xl);
  line-height: 3rem;
  letter-spacing: 2px;
  font-weight: 500;
}

@utility heading-3 {
  font-size: var(--text-xl);
  line-height: 26px;
  letter-spacing: 5px;
}

@utility btn {
  @apply block w-fit bg-white px-8 py-4 rounded-lg uppercase tracking-[1px] text-black;
  cursor: pointer;
}

@utility btn-dark {
  @apply bg-primary text-white;
}

@utility input {
  @apply block w-full px-4 py-3 text-[15px] text-white border-b-2 border-b-white/50 focus-visible:bg-black/5 focus-visible:border-b-white focus:outline-none transition-colors;
}

@layer base {
  html,
  body {
    @apply bg-white;
    color: var(--text-base);
  }

  p {
    line-height: calc(var(--spacing) * 7);
  }

  .main-grid {
    display: grid;
    row-gap: calc(var(--spacing) * 16);

    --gutter: minmax(1rem, 1fr);

    @media screen and (min-width: 50rem) {
      --gutter: minmax(2rem, 1fr);
    }

    grid-template-columns:
      [full-start]
      var(--gutter)
      [main-start]
      repeat(12, minmax(0, 6rem))
      [main-end]
      var(--gutter)
      [full-end];
  }

  .main-grid > * {
    grid-column: main;
  }
}
